@import './variables.scss';

@mixin module-container {
  padding: 1.5em 0em;
}
@mixin font(
  $font-size: 16px,
  $font-weight: 0,
  $color: $main-color,
  $line-height: 16px
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height;
}
@mixin flex-container(
  $flex-direction: row,
  $align-items: center,
  $justify-content: space-between
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin center-container($position: fixed) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
