@import '../assets/scss/mixins.scss';

.container {
  @include flex-container;

  position: relative;
  padding: 20px;
  transition: all 0.3s ease-in-out;

  &::before,
  &::after {
    content: '';

    display: block;
    position: absolute;
    top: -1000px;
    left: 50%;
    z-index: -1;
    transform: rotate(-30deg);
  }

  &::before {
    width: 2000px;
    height: 2000px;
    margin-top: -770px;
    margin-left: -1140px;
    border-radius: 160px;
    background-color: #0088fe;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }

  &::after {
    width: 1600px;
    height: 1600px;
    margin-top: -520px;
    margin-left: -300px;
    border-radius: 100px;
    background: #00c49f;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }

  ul {
    li > a {
      @include font($color: #ffffff);
      text-decoration: none;
    }
  }
}

.active {
  color: red;

  &::before,
  &::after {
    transform: inherit !important;
    opacity: 1 !important;
  }
}

.navbar {
  @include flex-container;
  // max-width: 1024px;
  // margin: 0 auto;

  img {
    display: inline-block;
    width: 60px;
    height: 60px;

    margin-right: 20px;
  }

  div {
    @include flex-container;

    a {
      position: relative;
      padding: 5px 0px;

      font-size: 16px;
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
    }

    a + a {
      margin-left: 20px;
    }

    a::before,
    a::after {
      position: absolute;

      display: block;
      content: '';
      width: 40%;
      height: 2px;
      opacity: 0;

      background-color: #ffffff;

      transition: all 0.3s ease-in-out;
    }

    a::before {
      top: 0px;
      left: 0px;
      transform: translate(-100%);
    }

    a::after {
      bottom: 0px;
      right: 0px;
      transform: translate(100%);
    }

    a:hover::before,
    a:hover::after {
      transform: inherit;
      opacity: 1;
    }
  }
}
