@import './assets/scss/variables.scss';
@import './assets/scss/mixins.scss';

.search {
  @include flex-container;

  label {
    padding: 0.25em;

    i {
      margin-left: 0em;
      color: #ffffff;
    }

    input {
      margin-left: 0.5em;
      border: 0px;
      outline: 0px;
      color: #ffffff;
      font-size: 1.25em;
      background-color: inherit;
    }

    transition: all 0.1s ease-in;
  }

  label:hover {
    box-shadow: 0px -1px 0px #ffffff inset;
  }

  & > i {
    font-size: 1.5em;
    margin-left: 1em;
  }
}
