@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.container {
  @include module-container;
}

.article {
  position: relative;
  max-width: 1024px;
  width: 90%;
  // max-height: 320px;
  margin: 0 auto;
  padding: 10px 10px;
  overflow: hidden;

  div {
    max-height: 300px;
    overflow: hidden;

    img {
      display: block;
      width: calc(100% - 4px);
      margin: 0 auto;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      box-shadow: $box-shadow;
    }
  }

  article {
    border-radius: 2px;
    padding: 10px 10px;
    background-color: #ffffff;

    box-shadow: $box-shadow;

    h3,
    ul {
      margin-bottom: 0.5em;
    }

    h3 {
      color: $title-color;
    }

    ul {
      color: $keyword-color;
    }

    p {
      color: $content-color;
    }
  }
}
