@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';

.container {
  position: fixed;
  top: 0px;
  right: 0px;

  width: 20em;
  height: 100vh;

  background-color: #ffffff;

  // transition: all 0.3s ease-in-out;
  // box-shadow: -0.05em 0em 0.05em 0.05em $border-color;
}

.search {
  @include flex-container;

  padding: 0.5em 0.5em;
  margin-bottom: 0.5rem;
  // box-shadow: 0px 0px 0.25em 0px $border-color;
  background-color: $background-color;

  input {
    flex: 1;
    outline: 0px;
    border: 0px;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
  }
}

.articles {
  padding: 0em 0.25em;
}

.article {
  padding: 0.5em;

  border-radius: 0.2em;
  background: #ffffff;
  box-shadow: 0px 0px 0.25em 0px $border-color;

  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    span + span {
      margin-left: 0.5rem;
    }
  }
}
