@import '@/assets/scss/mixins.scss';

.container {
  @include module-container;
}

.card {
  padding: 0.5em 0.5em;
  width: 300px;
  height: 150px;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 0.5em 0px #f5f5f5;

  h4,
  p {
    margin-bottom: 0.5em;
  }

  p:nth-of-type(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    span + span {
      margin-left: 0.5em;
    }
  }

  p:nth-of-type(2) {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}
