@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.container {
  @include center-container;

  @include flex-container;
  flex-direction: column;

  position: fixed;
}

.user {
  text-align: center;
  margin-bottom: 1em;

  img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-bottom: 1em;
  }

  span {
    display: block;
    color: $content-color;
  }
}

.introduce {
  width: 60vw;
  text-align: center;
  margin-bottom: 1em;

  p {
    font-size: 1.25em;
    color: $content-color;
  }
}

.account {
  padding: 0.25em 2em;
  margin-bottom: 1em;
  border-top: 1px solid $border-color;

  i {
    display: inline-block;
    font-size: 1.25em;

    transition: all 0.3s ease-in;
  }

  i + i {
    margin-left: 1em;
  }

  i:hover {
    color: $theme-color;
  }
}

.footer {
  span:nth-of-type(2),
  span:nth-of-type(4) {
    color: $keyword-color;
  }
}
